atom-ml==4.11.0
streamlit==1.6.0
numpy==1.21.5
matplotlib==3.5.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
joblib==1.1.0
pickleshare==0.7.5
pandas==1.3.5
regex==2022.3.15
base58==2.1.1
lxml==4.4.1
click==7.1.2
